





  <div class="container-fluid">
   <div class="row-fluid">
      <div class="centering">
         <input type="text" class="form-control" id="usr" placeholder="Введите товар для поиска">
      </div>
	 <div class="col s2">
      <%= link_to :search, goods_path, class: "waves-light btn" %>
    </div>
   </div>
</div>
