
    

  
  
  <div class="container-fluid">
   <div class="row-fluid">
      <div class="centering">
         <input type="text" class="form-control" id="usr" placeholder="Введите товар для поиска">
      </div>
   </div>
</div>